body
{
  background-color: #000000;
  font-family: "Open Sans", Arial, sans-serif,;
  font-size: 24px;
  color: #ffffff;
  padding-left: 11em;
  a:link {
    color: #ffffff }
  a:visited {
    color: #ffffff }
}

