body {
  background-color: #0c0c0c;
  font-size: 20px;
  color: #ffffff;
  font-family: 'Nunito', sans-serif;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 10%;
  margin-left: 10%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 38.2%;
}
.header {
  color: white;
  font-family: 'Nunito', sans-serif;
  font-size: 30px;
}
.nav {
  color: white;
  font-family: 'Nunito', sans-serif;
  letter-spacing: 2px;
  font-size: 12px;
  text-align: right;
}

.subheader {
  color: white;
  font-family: 'Nunito', sans-serif;
  letter-spacing: 2px;
  font-size: 22px;
}

img {
  float: left;
  padding-right: 40px;
  width:100%;
  height:auto;
}

#fixed-width-inline-image  {  
  width: 300px; 
}  

/* Styles for text and image formatting in columns */

.imageblock { 
  vertical-align: top;
}
.container{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.box{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width:25rem;
    margin: 10px;
    text-align: center;
  box-shadow: 5px 5px 4px 2px #000000;
}
  
a:link, a:visited {
  color: #d3d3d3;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
}

footer {
  font-family: 'nunito', sans-serif;
  font-size: 10px;
}

.collapsible {
  background-color: #383838;
  color: #ffffff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
}

.active, .collapsible:hover {
  background-color: #787878;
}

.content {
  padding: 18px 18px;
  overflow: hidden;
  color: #ffffff;
  background-color: #383838;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}
