body {
  background-color: #000000;
  font-size: 24px;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}

.header {
  color: white;
  font-family: 'Merriweather', serif;
  font-size: 30px;
}

.subheader {
  color: white;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  font-size: 14px;
}

/* Styles for a link before hover or visiting */
a:link {
  color: #ffffff;
  text-decoration: none;
}

/* Styles for a link on hover */
a:hover {
  color: rgb(255, 82, 82);
  text-decoration: underline;
}

/* Styles for a link on hover */
a:visited {
  color: #ffffff;
  text-decoration: none;
}

footer {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
  .button {
  background-color: #ffffff;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}
